/* колір основного тексту #212121 */

/* вторинний колір тексту #757575 */

/* білий #ffffff */  

/* чорний #000000 */

/* світлочорний #2f303a */

/* прозорий rgba(255, 255, 255, 0.6) */

/* акцент #2196f3 */

/* вторинний колір фону #F5F4FA */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --primary-lightblack-color:#2f303a;
    --primary-transparent-color: rgba(255, 255, 255, 0.6)
}

body {
    background-color: var(--primary-white-color);
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
}
                  

/* logo */

.black-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;   
}

.black-logo >span {
    color: var(--primary-black-color);
}

/* site-nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
 


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.site-nav .active a {
    color: var(--accent-color);
}

/* contacts */

.contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    text-decoration: none;
}

.contacts-list .contact-link:hover,
.contacts-list .contact-link:focus {
    color: var(--accent-color);
}

.items-link {
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.info-link {
    color: var(--primary-transparent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;  
    text-decoration: none;
}

.contacts-list .items-link:hover,
.contacts-list .items-link:focus {
    color: var(--accent-color);
}

.contacts-list .info-link:hover,
.contacts-list .info-link:focus {
    color: var(--accent-color);
}

.contacts-list {
    list-style: none;
    font-style: normal;
}


/* header */
.header {
    background-color: var(--primary-lightblack-color);
}

.header-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

/* section */

.work-features :hover,
.work-features :focus {
    text-decoration: none;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.work-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.work-features-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    text-decoration: none;
}

.text-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.features-title {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
}

.feature-list,
.work-list,
.work-features{
    list-style: none;
}

li a {
    text-decoration: none;
}


/* footer */

.footer {
    background-color: var(--primary-lightblack-color);
}

.white-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.white-logo>span {
    color: var(--primary-white-color);
}



/* button */

.button-subject {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
}


.button-subject:hover,
.button-subject:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}


/* .section-buttons-button {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
} */

.button-button {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
}

.button-button:hover,
.button-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}

.section-buttons {
    list-style: none;
}