/* колір основного тексту #212121 */

/* вторинний колір тексту #757575 */

/* білий #ffffff */  

/* чорний #000000 */

/* світлочорний #2f303a */

/* прозорий rgba(255, 255, 255, 0.6) */

/* акцент #2196f3 */

/* вторинний колір фону #F5F4FA */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --primary-lightblack-color:#2f303a;
    --primary-transparent-color: rgba(255, 255, 255, 0.6)
}

body {
    background-color: var(--primary-white-color);
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

.container-section-title{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-title {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-white-logo {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
                  

/* logo */

.black-logo {
    margin: 0 0 0 215px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;   
}

.black-logo >span {
    color: var(--primary-black-color);
}

/* site-nav */

.site-nav {
    display: flex;
    justify-content: center;
    margin-left: 93px;
    gap: 50px;
    margin: 32px 50px 32px 93px;
}

.site-nav .link {
    color: var(--title-text-co lor);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
 


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
    display: flex;
}

.site-nav .active a {
    color: var(--accent-color);
}

/* contacts */

.address-title a {
    margin: 20px 1154px 60px 215px;
    white-space: nowrap;
}

.contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    text-decoration: none;
}

.contacts-list .contact-link:hover,
.contacts-list .contact-link:focus {
    color: var(--accent-color);
}

.items-link {
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.info-link {
    color: var(--primary-transparent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;  
    text-decoration: none;
}

.contacts-list .items-link:hover,
.contacts-list .items-link:focus {
    color: var(--accent-color);
}

.contacts-list .info-link:hover,
.contacts-list .info-link:focus {
    color: var(--accent-color);
}

.contacts-list {
    list-style: none;
    font-style: normal;
}

.mailto-tel {
    display: flex;
    justify-content: flex-end;
}


/* header */
.header {
    background-color: var(--primary-lightblack-color);

    margin-bottom: 94px;
}

.header-title {
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}


/* section */

.section {
    display: flex;
}

.work-features :hover,
.work-features :focus {
    text-decoration: none;
}

.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-title-work {
    display: none;
}
 .icon {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
 }

.title {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.work-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 30px 70px 10px 70px;
}

.work-features-title {
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    text-decoration: none;
}

.text-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.features-title {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
}

.work-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.feature-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.img-list {
    display: flex;
    gap: 30px;
}

.work-features {
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 30px;
align-content:center;

}

li a {
    text-decoration: none;
}


/* footer */

.footer {
    background-color: var(--primary-lightblack-color);
}

.white-logo {
    margin: 0 0 0 215px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.white-logo>span {
    color: var(--primary-white-color);
}



/* button */

.button-subject {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
}


.button-subject:hover,
.button-subject:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}

.button-button {
    border: none;
    margin-top: 6px;
    margin-bottom: 56px;
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
}

.button-button:hover,
.button-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}

.section-buttons {
    list-style: none;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
}

.section .section-buttons .section-buttons-button {
    margin-left: 8px;
}